html {
  scroll-behavior: smooth;
}
.top{
  border-top: 3.5px solid #4cacff;
  width: 100%;
  margin-bottom: -10px;
}
.sidetop{
  border-top: 3.5px solid #4cacff;
  margin-bottom: -10px;
  width: 180%;
}
.p18{
  font-size: 20px;
}
.catalogo {
  padding: 20px 0px;
  width: 80%;
  color: #4cacff;
  margin-left: 0%;
  padding-right: 2%;
}
.imgcatalogo{
  height: 190px;
  width: 253px;
}
.sidebar{
  padding: 20px 50px 0px 20px;
  color: #4cacff;
}
.navbar{
  margin-right: 20px;
}
section{
  margin-right: 5%;
}
section p{
  margin-top: 5px;
}
.itemCategoria{
	float: left;
}
.itemCategoriaButton{
  margin-top: 55%;
  margin-left: 50%;
  width: max-content;
}
.right{
	float: right;
}
footer{
  padding: 2.5% 0;
  width: 100%;
  background-color: #f7f7f7;
  position: inherit;
  margin-top: 50%;
  max-height: 50px;
}
/*@media only screen and (max-width: 1410px) {
footer {
  margin-top: 30%;
}*/
/*ALU Requisitados*/
.reqalutable{
  overflow-y: scroll;
  max-height: 10%;
}
.blacktext{
  color: #333;
}

/*CATEGORIAS*/
.catsidetop{
  border-top: 3.5px solid #4cacff;
  margin-bottom: -10px;
  width: 120%;
}
.catsidebar{
  width: 10%;
  padding: 20px 0px 0px 20px;
  color: #4cacff;
  margin: 0;
}
.cat{
  padding: 20px 0px;
  min-width: 82%;
  color: #4cacff;
  padding-right: 2%;
}

/*LOGIN*/
.login{
  padding: 20px 0px;
  min-width: 90%;
  color: #4cacff;
  padding-right: 2%;
}
.loginform{
  background-color: #f3f3f3;
  width: 20%;
  margin-left: 20%;
  padding: 2%;
}
.sideimg{
  margin-top: -23%;
  margin-right: 20%;
  float: right;
  height: 300px;
}
.sideimgw{
  margin-top: -15%;
  margin-right: 20%;
  float: right;
  height: 200px;
}
@media only screen and (max-width: 1060px) {
  .sideimg{
    visibility: hidden;
  }
  .sideimgw{
    visibility: hidden;
  }
}
/*ADMIN*/
.tlivros{
  padding: 20px 20px 0px 20px;
  border-right: 2px solid #4cacff;
  max-width: 15%;
  text-align: center;
  align-content: center;
}
.treq{
  padding: 20px 20px 0px 20px;
  border-right: 2px solid #4cacff;
  max-width: 15%;
  text-align: center;
}
.tdev{
  padding: 20px 20px 0px 20px;
  border-right: 2px solid #4cacff;
  max-width: 15%;
  text-align: center;
}
.tpordev{
  padding: 20px 20px 0px 20px;
  border-right: 2px solid #4cacff;
  max-width: 15%;
  text-align: center;
}
.talu{
  padding: 20px 20px 0px 20px;
  max-width: 15%;
  text-align: center;
}
.admindash{
  margin-left: 7.5%;
  margin-top: 2.5%;
}
.dashboardsec:hover{
  background-color: #fafafa;
}
.dashboardsec{
  transition: background-color 0.3s linear;
}
.admindashico{
  width: 30%;
}
.zone{
  padding: 20px 0px;
  min-width: 84%;
  color: #4cacff;
  padding-right: 2%;
}
.zonesidetop{
  border-top: 3.5px solid #4cacff;
  margin-bottom: -10px;
  width: 120%;
}
.zonesidebar{
  width: 9%;
  padding: 20px 0px 0px 20px;
  color: #4cacff;
  margin: 0;
}
/*POSTS*/
.postform{
  background-color: #f3f3f3;
  width: 40%;
  margin-left: 15%;
  padding: 2%;
}
