.top{
  border-top: 3.5px solid #4cacff;
  width: 100%;
  margin-bottom: -10px;
}
.sidetop{
  border-top: 3.5px solid #4cacff;
  margin-bottom: -10px;
}
.p18{
  font-size: 18px;
}
.catalogo {
  padding: 20px 0px;
  width: 80%;
  color: #4cacff;
  margin-left: 0%;
  padding-right: 2%;
}
.imgcatalogo{
  height: 200px;
}
.sidebar{
    padding: 20px 0px 0px 50px;
    color: #4cacff;
    width: 10%;
}
.navbar{
  margin-right: 20px;
}
section{
  margin-right: 5%;
}
section p{
  margin-top: 5px;
}
.left{
	float: left;
}
.right{
	float: right;
}
